---
import Section from "../Section.astro";
import { skills } from "@cv";

---

<Section className={Astro.props.className} title="Skills">
	<ul class="inline-flex flex-wrap gap-2">
		{
			skills.map(({ name }) =>
				<li class="border-skin-hue/20 bg-skin-button-accent/20 border-solid flex items-center gap-1 rounded-md px-2 py-0.5 text-md text-skin-hue print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
					<span>{name}</span>
				</li>
			)
		}
	</ul>
</Section>
